@import "compass";
@import "settings";
@import "foundation";
@import "ionicons";
@import "animate";

@import "common/layout";
@import "common/typography";
@import "common/buttons";
@import "common/forms";
@import "common/lists";
@import "common/notifications";
@import "common/tags";

@import "pages/front_page";
@import "pages/commune";
@import "pages/thread";
@import "pages/users";

@import "features/expando";
@import "features/chat";

@import "static_pages/donate";
@import "static_pages/notices_and_errors";

/*
* .register-form
*/
.register-form {
	h3 {
		color: white;
		font-weight: 300;
	}
	hr {
		width: 50px;
		border-color: rgba(255, 255, 255, 0.25);
		border-width: 2px;
	}
	label {
		font-size: 1.25em;
		color: $dark-primary-color;
		font-weight: 700;
	}
	input, textarea {
		font-size: 1.25em;
		color: white;
		font-weight: 700;
		background: none !important;
		border: none;
		border-bottom: 2px solid $dark-primary-color;
		@include box-shadow(none);
		&:focus {
			border-color: white !important;
		}
	}
	textarea {
		resize: none;
	}
	input[type="submit"] {
		padding: 1em 1.5em;
		background: $dark-primary-color !important;
		border: 1px solid darken($dark-primary-color, 10);
		font-weight: 700;
		font-size: 0.85em;
		cursor: pointer;
		outline: none !important;
		margin-right: 1em;
		@include border-radius($global-radius);
	}
	img {
		opacity: 0;
		@include transition(all .3s ease);
		&.open {
			opacity: 1;
		}
	}
	.text-alert {
		color: $info-color;
	}
}

/*
* .questions-list
* THIS CLASS HAS MOVED TO pages/_thread.scss AND RENAMED TO .threads-list
*/

/**
 * .markdown
 * THIS CLASS HAS MOVED TO pages/_thread.scss
 */

/**
 * .preview
 * THIS CLASS HAS MOVED TO pages/_thread.scss
 */

/**
 * .comments-list
 * THIS CLASS HAS MOVED TO pages/_thread.scss
 */

/**
 * .tag-hero
 * THIS CLASS HAS MOVED TO pages/_commune.scss
 */

/**
 * .nsfw-notice, .error-page
 * THESE CLASSES HAVE MOVED TO static_pages/_notices_and_errors.scss
 */

/**
 * #loadMoreSubmissions
 * THIS CLASS HAS MOVED TO pages/_commune.scss
 */


/**
 * .notification-box
 * THIS CLASS MOVED TO common/_notifications.scss
 */

/**
 * .user-saved
 * THIS CLASS MOVED TO pages/users/_user.scss
 */