@import "compass";
@import "settings";
@import "foundation";
@import "ionicons";
@import "animate";

@import "common/typography";
@import "common/forms";
@import "common/buttons";
@import "common/tags";

@import "static_pages/donate";

@import "pages/front_page";
@import "pages/commune";
@import "pages/thread";
@import "pages/inbox";

@import "features/expando";
@import "features/chat";




/*
* html, body
*/
html, body {
	padding-top: 21px;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

body.chat-fixed {
	.row {
		padding-right: 250px;
	}
}

.row {
	margin: 0;
	@include transition(all .2s ease);
}


/*
* .panel
*/
.panel {
	background: $white;
	border-color: $silver;
}

/*
* .padding
*/
.padding {
	padding: 1em 0;
}

/*
* .top-nav
*/
.top-nav {
	width: 100%;
	height: 42px;
	background: $primary-color;
	line-height: 42px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	a {
		font-size: 0.85em;
		color: white;
		font-weight: 700;
		height: 42px;
		&.brand {
			text-transform: uppercase;
			letter-spacing: 5px;
			font-size: 1em;
			margin-right: 1em;
		}
		.ion-navicon {
			font-size: 2em;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		line-height: 42px;
		font-size: 1em;
		li {
			margin: 0;
			&:last-of-type {
				margin: 0;
				padding-left: 1em;
				height: 42px;
				cursor: pointer;
				background: lighten($primary-color, 5);
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					border: none !important;
					padding-left: 1em;
				}
			}
		}
		&.right {
			li:last-of-type {
				border: none;
				padding: 0;
				background: $primary-color;
			}
		}
	}
	.row {
		.left {
			a {
				margin-right: 1em;
				margin-left: 0;
			}
		}
		.right {
			a {
				margin-left: 1em;
				margin-right: 0;
			}
		}
	}
	.hide {
		display: none !important;
	}
}

/*
* .hero
*/
.hero {
	width: 100%;
	padding: 1.5em 0;
	background: $primary-color;
	&.closed {
		height: 0;
		padding: 0;
		overflow: hidden;
	}
	hr {
		border-color: rgba($dark-primary-color, 0.5);
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 900;
		color: $dark-primary-color;
		margin: 0;
		a.menu-item {
			color: rgba(#ffffff, 0.85);
			margin-right: 1em;
			&:hover {
				color: white;
				.inbox-counter {
					background: $alert-color;
				}
			}
			&.active {
				color: white;
				.inbox-counter {
					background: $alert-color;
				}
			}
			.inbox-counter {
				padding: 3px;
				color: white;
				font-size: 0.85em;
				font-weight: 700;
				background: rgba($alert-color, 0.65);
				@include border-radius(3px);
			}
		}
		a.menu-middot {
			color: rgba(#ffffff, 0.5);
			margin-right: 1em;
			cursor: default;
		}
	}
	.thread-title {
		color: white;
		font-size: 1.75em;
		font-weight: 900;
		a {
			color: white;
			&:hover {
				color: lighten(blue, 45);
			}
		}
	}
	.thread-description {
		color: white;
		font-size: 1em;
		padding: 1.5em;
		padding-right: 3em;
		background: lighten($primary-color, 5);
		width: 100%;
		max-width: 1100px;
		@include border-radius($global-radius);
	}
	table {
		background: none;
		border: none;
		margin: 0;
		tr {
			td {
				padding-bottom: 0;
			}
			td:first-of-type {
				text-align: center;
				color: #f1f1f1;
				font-weight: 700;
				font-size: 1.35em;
				padding: 0 1em;
				vertical-align: top;
				padding-top: 0.95em;
			}
			td:last-of-type {
				width: 100%;
				hr {
					margin: 2.5em 0;
					width: 50px;
					border-width: 2px;
					border-color: rgba(255,255,255,0.5);
				}
				p, a {
					color: white;
				}
				p {
					font-size: 1em;
				}
				a {
					font-weight: 500;
					&:hover {
						color: lighten($primary-color, 35);
					}
				}
				.markdown {
					p {
						font-size: 0.85em;
					}
				}
			}
		}
	}
}

/*
* .register-form
*/
.register-form {
	h3 {
		color: white;
		font-weight: 300;
	}
	hr {
		width: 50px;
		border-color: rgba(255, 255, 255, 0.25);
		border-width: 2px;
	}
	label {
		font-size: 1.25em;
		color: $dark-primary-color;
		font-weight: 700;
	}
	input, textarea {
		font-size: 1.25em;
		color: white;
		font-weight: 700;
		background: none !important;
		border: none;
		border-bottom: 2px solid $dark-primary-color;
		@include box-shadow(none);
		&:focus {
			border-color: white !important;
		}
	}
	textarea {
		resize: none;
	}
	input[type="submit"] {
		padding: 1em 1.5em;
		background: $dark-primary-color !important;
		border: 1px solid darken($dark-primary-color, 10);
		font-weight: 700;
		font-size: 0.85em;
		cursor: pointer;
		outline: none !important;
		margin-right: 1em;
		@include border-radius($global-radius);
	}
	img {
		opacity: 0;
		@include transition(all .3s ease);
		&.open {
			opacity: 1;
		}
	}
	.text-alert {
		color: $info-color;
	}
}

/*
* .questions-list
*/
.questions-list {
	width: 100%;
	border: none;
	margin: 0;
	tr {
		padding: 0.5em 0;
		border-bottom: 1px solid $silver;
		background: white !important;
		&:last-of-type {
			border-bottom: none;
		}
		td {
			&:first-of-type {
				width: 85px;
				border-right: 1px solid $silver;
				text-align: center;
				a {
					color: #999;
					font-weight: 500;
					font-size: 1.35em;
					cursor: default;
				}
			}
			&:nth-child(2) {
				padding-left: 1.5em;
				color: #999;
				a {
					font-size: 1.35em;
					font-weight: 500;
					color: #52B3D9;
				}
				span > a {
					font-size: 0.85em;
					color: #999;
					margin: 0 0.5em;
					@include transition(all .2s ease);
					&:hover {
						color: #555;
					}
					&:first-of-type {
						margin-left: 0;
					}
				}
			}
		}
	}
}

/**
 * .sidebar
 */
.sidebar {
	border-left: 0;
	hr {
		width: 50px;
		border-width: 2px;
		border-color: rgba($primary-color, 0.25);
	}
}

/**
 * .markdown
 */
.markdown {
	&.thread-description {
		h1,h2,h3,h4,h5,h6,p,ul,li {
			color: white;
		}
	}
	h1,h2,h3,h4,h5,h6 {
		color: #313131;
		font-weight: 700;
		font-size: 1.5em;
	}
	p, ul, li {
		color: #212121;
	}
	p, ul {
		font-size: 1.2em !important;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

/**
 * .preview
 */
.preview {
	.markdown {
		font-size: 0.8em;
		padding: 1em;
		border: 1px solid $silver;
		background: white;
		@include border-radius($global-radius);
	}
}

/**
 * .comments-list
 */
.comments-list {
	padding-bottom: 12.5em;
	.comment {
		&.parent {
			background: white !important;
		}
		&.child {
			background: $snow !important;
		}
		&.saved {
			padding: 1em !important;
			.body {
				padding-left: 0 !important;
			}
		}
	}
	article {
		border: 1px solid $silver;
		border-bottom: none;
		padding-top: 1em;
		padding-left: 1em;
		position: relative;
		@include border-radius($global-radius);
		&:last-of-type {
			border-bottom: 1px solid $silver;
		}
		section {
			font-size: 0.85em;
			padding-right: 1em;
		}
		header, footer {
			font-size: 0.8em;
			color: #777;
			span {
				margin: 0 0.65em;
				&:first-of-type {
					margin-left: 0;
				}
				&:last-of-type {
					margin-right: 0;
				}
			}
			a {
				color: $primary-color;
				font-weight: 500;
				margin: 0 0.5em;
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
		.children {
			padding-top: 10px;
			article {
				border-right: none;
				border-bottom: none;
				padding-bottom: 0;
				padding-right: 0;
				background: #f3f3f3;
			}
		}
		.reply-box {
			padding: 10px 0;
			display: none;
			p {
				margin-bottom: 0;
				font-size: 0.85em !important;
			}
			.preview {
				margin-bottom: 10px;
			}
			.markdown {
				h1,h2,h3,h4,h5,h6 {
					color: #313131;
					font-weight: 700;
					font-size: 1.5em !important;
				}
				p, ul, li {
					color: #212121;
				}
				p, ul {
					font-size: 1.2em !important;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
		.collapser {
			font-size: 0.85em;
			cursor: pointer;
			margin: 0;
		}
		.body {
			padding-left: 22px;
		}
		.comment-editor {
			.preview {
				font-size: 115%;
			}
		}
		&.collapsed {
			overflow: hidden;
			height: 24px;
			padding: 0 1em;
		}
	}
}

/**
 * .tag-hero
 */
.tag-hero {
	width: 100%;
	padding: 3.5em 0;
	background-color: #f1f1f1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.7);
	}
	h1,h2,h3,h4,h5,h6 {
		color: $jet;
	}
	h2 {
		color: $primary-color;
	}
	.markdown {
		font-size: 0.85em;
	}
	h4 {
		span {
			margin: 0 0.5em;
		}
	}
}

/**
 * .tags-nav
 */
.tags-nav {
	width: 100%;
	height: 10px;
	max-height: 10px;
	padding-top: 10px;
	margin-bottom: 5px;
	&.open {
		ul {
			max-height: 1000px;
			opacity: 1;
		}
	}
	ul {
		position: absolute;
		top: -10px;
		width: 200px;
		max-height: 0px;
		overflow: hidden;
		z-index: 98;
		background: $primary-color;
		border: 1px solid $dark-primary-color;
		opacity: 0;
		@include border-radius($global-radius);
		@include transition(all .3s ease);
		hr {
			border-color: $dark-primary-color;
			margin: 0;
		}
		li {
			padding: 10px;
			cursor: pointer;
			width: 100%;
			background: $primary-color;
			&:hover {
				background: lighten($primary-color, 5);
			}
			a {
				color: white;
				font-weight: 500;
				&.active {
					font-weight: 700;
				}
			}
		}
	}
}

/**
 * .explore-list
 */
.explore-list {
	position: absolute;
	width: 200px;
	max-height: 0px;
	overflow: hidden;
	z-index: 98;
	background: $primary-color;
	border: 1px solid $dark-primary-color;
	opacity: 0;
	top: 42px;
	margin-left: -1.05em !important;
	@include border-radius(0 0 $global-radius $global-radius);
	@include transition(all .3s ease);
	hr {
		border-color: $dark-primary-color;
		margin: 0;
	}
	li {
		cursor: pointer;
		width: 100%;
		background: $primary-color !important;
		display: none;
		font-size: 0.9em;
		&:hover {
			background: lighten($primary-color, 5) !important;
		}
		a {
			color: white;
			font-weight: 500;
			font-size: 1em;
			&.active {
				font-weight: 700;
			}
		}
	}
	&.open {
		max-height: 90vh;
		opacity: 1;
		overflow: auto;
	}
}

/**
 * .nsfw-notice, .error-page
 */
.nsfw-notice, .error-page {
	width: 100%;
	height: 100%;
	position: relative;
	.content {
		position: absolute;
		width: 100%;
		top: 50%;
		@include transform(translateY(-50%));

		h1 {
			font-weight: 300;
		}

		hr {
			width: 50px;
			margin: 2.5em auto;
			border: 2px solid $silver;
		}

		p {
			font-size: 1em;
		}
	}
}

/**
 * #loadMoreSubmissions
 * THIS CLASS HAS MOVED TO pages/_commune.scss
 */


/**
 * .notification-box
 */
.notification-box {
	width: 300px;
	height: 85px;
	background: $white;
	position: absolute;
	right: 1em;
	top: 45px;
	padding: 1em;
	line-height: 1.2;
	border: 1px solid $primary-color;
	color: $primary-color;
	display: none;
	font-size: 0.9em;
	z-index: 100;
	@include border-radius($global-radius);
	span {
		line-height: 55px;
		text-align: center;
	}
	a {
		color: $dark-primary-color;
		font-weight: 500;
	}
}

/**
 * .user-saved
 */
.user-saved {
	.tabs {
		width: 100%;
		height: 35px;
		line-height: 35px;
		.tab-title {
			background: white;
			height: 35px;
			line-height: 35px;
			font-weight: 500;
			margin-bottom: -1px;
			a {
				color: #aaa;
				font-size: 1em !important;
				padding: 0 1.5em;
				outline: none !important;
			}
			&.active {
				font-weight: 700;
				border: 1px solid $silver;
				a {
					color: $primary-color;
				}
			}
		}
	}
	.tabs-content {
		padding: 1em;
		background: $white;
		border: 1px solid $silver;
		@include border-radius($global-radius);
	}
}

.hero-page {
	p, ul, ol, a {
		color: white;
		font-size: 1em;
	}
	a {
		font-weight: 700;
		text-decoration: underline;
	}
}

.footer {
	width: 100%;
	padding: 5em;
	font-size: 0.85em;
	color: #aaa;
	a {
		color: #aaa;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 0 10px;
		&:hover {
			color: #333;
		}
	}
}

.fill-width {
	display: block;
	width: 100%;
}