@import "compass";
@import "settings";
@import "foundation";
@import "typography";

/*
* html, body
*/
html, body {
	padding-top: 21px;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

/*
* .panel
*/
.panel {
	background: $white;
	border-color: $silver;
}

/*
* .padding
*/
.padding {
	padding: 1em 0;
}

/*
* .top-nav
*/
.top-nav {
	width: 100%;
	height: 42px;
	background: $primary-color;
	line-height: 42px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	// @include box-shadow(0 2px 2px rgba(96, 125, 139, 0.17));
	a {
		font-size: 0.85em;
		color: white;
		font-weight: 500;
		&.brand {
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.row {
		div:first-of-type {
			a {
				margin-right: 1em;
				margin-left: 0;
			}
		}
		div:last-of-type {
			a {
				margin-left: 1em;
				margin-right: 0;
			}
		}
	}
}

/*
* .hero
*/
.hero {
	width: 100%;
	padding: 1.5em 0;
	padding-top: 3em;
	background: $primary-color;
	h1 {
		font-weight: 900;
		color: $dark-primary-color;
	}
}

/*
* .register-form
*/
.register-form {
	h3 {
		color: white;
		font-weight: 300;
	}
	hr {
		width: 50px;
		border-color: rgba(255, 255, 255, 0.25);
		border-width: 2px;
	}
	label {
		font-size: 1.25em;
		color: $dark-primary-color;
		font-weight: 700;
	}
	input, textarea {
		font-size: 1.25em;
		color: white;
		font-weight: 700;
		background: none !important;
		border: none;
		border-bottom: 2px solid $dark-primary-color;
		@include box-shadow(none);
	}
	textarea {
		resize: none;
	}
	input[type="submit"] {
		padding: 1em 1.5em;
		background: $dark-primary-color !important;
		border: 1px solid darken($dark-primary-color, 10);
		font-weight: 700;
		font-size: 0.85em;
		cursor: pointer;
		outline: none !important;
		margin-right: 1em;
		@include border-radius($global-radius);
	}
	img {
		opacity: 0;
		@include transition(all .3s ease);
		&.open {
			opacity: 1;
		}
	}
	.text-alert {
		color: $info-color;
	}
}

/*
* .checkbox-label
*/
.checkbox-label {
	font-weight: normal;
	margin-bottom: -10px;
}

/*
* .questions-list
*/
.questions-list {
	width: 100%;
	border: none;
	tr {
		padding: 0.5em 0;
		border-bottom: 1px solid $silver;
		&:last-of-type {
			border-bottom: none;
		}
		td {
			&:first-of-type {
				width: 85px;
				border-right: 1px solid $silver;
				text-align: center;
				a {
					color: #999;
					font-weight: 500;
					font-size: 1.35em;
					cursor: default;
				}
			}
			&:nth-child(2) {
				padding-left: 1.5em;
				color: #999;
				a {
					font-size: 1.35em;
					font-weight: 500;
					color: #52B3D9;
				}
				span > a {
					font-size: 0.85em;
					color: #999;
					margin: 0 0.5em;
					@include transition(all .2s ease);
					&:hover {
						color: #555;
					}
					&:first-of-type {
						margin-left: 0;
					}
				}
			}
		}
	}
}