body.chat-fixed {
	.row {
		padding-right: 250px;
	}
}

.chat-bar {
	width: 250px;
	height: 40px;
	line-height: 40px;
	color: $white;
	position: fixed;
	z-index: 99;
	bottom: 0;
	right: 0;
	background: $primary-color;
	border: 1px solid darken($primary-color, 10);
	border-bottom: none;
	border-right: none;
	@include border-radius($global-radius 0 0 0);
	@include transition(all .2s ease);
	&.open {
		height: 100%;
		.chat-actions {
			bottom: 0;
		}
	}
	.header {
		height: 41px;
		width: 100%;
		border-bottom: 1px solid darken($primary-color, 10);
		cursor: pointer;
		/*
		&:hover {
			background: lighten($primary-color, 5);
		}
		*/
		.icon-box {
			width: 40px;
			text-align: center;
			font-size: 1.5em;
			float: left;
			position: relative;
			#chatCount {
				width: auto;
				height: auto;
				max-height: 15px;
				background: red;
				color: white;
				font-size: 10px;
				font-weight: 700;
				text-align: center;
				padding: 1px 2px;
				position: absolute;
				top: 2.5px;
				right: 2.5px;
				line-height: 10px;
				@include border-radius($global-radius);
			}
		}
		.text-box {
			width: auto;
			padding-right: 1em;
			font-weight: 700;
			font-size: 0.85em;
			text-align: right;
			.indicator {
				font-size: 0.85em;
				color: rgba(255, 255, 255, 0.35);
				&.online {
					color: #36D7B7;
				}
				&.error {
					color: $alert-color;
				}
			}
		}
	}
	.chat-list {
		width: 100%;
		@include transition(all .2s ease .6s);
		li.section-title {

		}
		li.roster-item {
			width: 100%;
			height: 40px;
			padding: 0 1em;
			line-height: 40px;
			color: white;
			background: $primary-color;
			font-weight: 500;
			cursor: pointer;
			@include transition(all .2s ease);
			/*
			&:hover {
				background: lighten($primary-color, 5);
				padding-left: 1.5em;
			}
			*/
			&.error-li {
				line-height: 1.6;
				height: auto;
				padding: 1em;
				text-align: center;
				/*
				&:hover {
					background: $primary-color;
					padding: 1em;
				}
				*/
			}
			.indicator {
				font-size: 0.85em;
				color: rgba(255, 255, 255, 0.35);
				&.online {
					color: #36D7B7;
				}
			}
		}
		li.outgoing-request-item {

		}
		li.incoming-request-item {

		}
	}
	.chat-actions {
		width: 100%;
		height: 40px;
		position: absolute;
		bottom: -100px;
		border-top: 1px solid darken($primary-color, 5);
		z-index: 98;
		@include transition(all .6s ease);
		.inputter {
			width: 100%;
			height: 40px;
			padding: 5px;
			background: none;
			border: none;
			color: white;
			position: absolute;
			top: 0;
		}
		.button {
			width: 50px;
			height: 40px;
			text-align: center;
			border-left: 1px solid darken($primary-color, 5);
			line-height: 40px;
			color: white;
			padding: 0;
			font-size: 2em;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.chat-box {
	width: 350px;
	height: 550px;
	position: fixed;
	z-index: 98;
	bottom: 0px;
	right: -350px;
	background: $white;
	border: 1px solid $silver;
	border-right: none;
	@include transition(all .2s ease);
	&.open {
		right: 250px;
	}
	header {
		width: 100%;
		height: 45px;
		padding: 10px;
		border-bottom: 1px solid $silver;
		font-size: 0.85em;
		font-weight: 500;
		position: absolute;
		top: 0;
	}
	section {
		width: 100%;
		height: 412px;
		background: #f9f9f9;
		padding: 10px;
		position: absolute;
		top: 45px;
		overflow: auto;
		#chatMessages {
			li {
				padding: 5px;
				background: $white;
				display: inline-block;
				clear: both;
				float: left;
				max-width: 75%;
				margin-bottom: 5px;
				@include border-radius($global-radius);
				@include box-shadow(0 0 3px rgba(0, 0, 0, 0.05));
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			li.green {
				background: #DADFE1;
				float: right;
				text-align: right;
			}
		}
	}
	textarea {
		width: 100%;
		height: 75px;
		resize: none;
		border: none;
		border-top: 1px solid $silver;
		padding: 10px;
		position: absolute;
		bottom: 0;
	}
}