.threads-list {
	width: 100%;
	border: none;
	margin: 0;
	tr {
		padding: 0.5em 0;
		border-bottom: 1px solid $silver;
		background: white !important;
		&:last-of-type {
			border-bottom: none;
		}
		td {
			&:first-of-type {
				width: 85px;
				border-right: 1px solid $silver;
				text-align: center;
				a {
					color: #999;
					font-weight: 500;
					font-size: 1.35em;
					cursor: default;
				}
			}
			&:nth-child(2) {
				padding-left: 1.5em;
				color: #999;
				a {
					font-size: 1.35em;
					font-weight: 500;
					color: #52B3D9;
				}
				span > a {
					font-size: 0.85em;
					color: #999;
					margin: 0 0.5em;
					@include transition(all .2s ease);
					&:hover {
						color: #555;
					}
					&:first-of-type {
						margin-left: 0;
					}
				}
			}
		}
	}
}

.info-and-options {
	font-size: 0.9em;
	font-weight: 500;
	span:nth-child(2), span:nth-child(4), span:nth-child(6) {
		margin: 0 5px;
	}
}